:root {
  --bg: #0b1020;
  --card: #07102a;
}

html, body, #root {
  height: 100%;
  margin: 0;
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a { color: inherit; }
button { font-family: inherit; }
